<div id="main_body">
<h1>User Rights</h1>
<table>
  <tr>
  	<th>UserGroupName</th>
    <th>简注</th>
    <th>Action</th>
    <th>TableName</th>
    <th>MatchingColName</th>
    <th></th>  
  </tr>

<% @sys_user_rights.each do |p| %>
  <tr>
  	
    <td><%= p.sys_user_group.user_group_name if p.sys_user_group_id.present? %></td> 	
    <td><%= p.sys_user_group.short_note if p.sys_user_group_id.present? %></td> 
    <td><%= p.sys_action_on_table.action %></td>
    <td><%= p.sys_action_on_table.table_name %></td>
    <td><%= p.matching_column_name %></td>
    <td><%= link_to 'Delete', sys_user_right_path(p), :method => :delete, :confirm => 'Are you sure to delete?' %></td>
  </tr>
<% end %>

</table>
 
  <%= link_to "输入Right", new_sys_user_right_path(:format => :js), :remote => true, :id => 'new_log_link' %>
  <%= link_to 'Search', search_sys_user_rights_path, :id => 'search_link'%>

</div>